[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = '0.8.25'
optimizer = true
optimizer_runs = 1
fs_permissions = [
    { access = "read", path = "./script/input/"},
    { access = "read-write", path = "./script/output/"}
]
evm_version = 'cancun'
remappings = [
    '@layerzerolabs/oft-evm/=lib/devtools/packages/oft-evm/',
    'layerzerolabs/oapp-evm/=lib/devtools/packages/oapp-evm/',
    '@layerzerolabs/lz-evm-protocol-v2/=lib/layerzero-v2/packages/layerzero-v2/evm/protocol',
    '@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/',
    '@layerzerolabs/lz-evm-messagelib-v2/=lib/layerzero-v2/packages/layerzero-v2/evm/messagelib/',
    'solidity-bytes-utils/=lib/solidity-bytes-utils/',
    'forge-std/=lib/forge-std/src/',
    '@uniswap/v4-core/=lib/uniswap-v4-core/'
]

[profile.library-deploys]
# v1.9.0 libraries
libraries = [
    "src/libraries/AaveLib.sol:AaveLib:0x6ea2323fE0Eaa598BB964761cbc1852F4f278877",
    "src/libraries/ApproveLib.sol:ApproveLib:0xBa228a78d4eac46BE2B37e657fB70bA06d9ca7fA",
    "src/libraries/CCTPLib.sol:CCTPLib:0xD99bc211330eEc0B5CE2E1601d8E552d65F1A182",
    "src/libraries/CurveLib.sol:CurveLib:0x69E1183aeBB4282900C72ADF76E2Eda25193F41f",
    "src/libraries/ERC4626Lib.sol:ERC4626Lib:0x2be15e3eE47179a3E843C49bcaDC8f2b838Ad497",
    "src/libraries/PSMLib.sol:PSMLib:0x917afFB389c60d005e5e9Bd623fe665Fbb8346EC",
    "src/libraries/UniswapV4Lib.sol:UniswapV4Lib:0x8a0277d540E42368E43e262A03A6D40A3E1b424D"
]

[fuzz]
runs = 1000

[invariant]
runs = 1
depth = 100

[etherscan]
mainnet = { key = "${MAINNET_API_KEY}" }
optimism = { key = "${OPTIMISMSCAN_API_KEY}" }
base = { key = "${BASESCAN_API_KEY}" }
gnosis_chain = { key = "${GNOSISSCAN_API_KEY}", url = "https://api.gnosisscan.io/api" }
arbitrum_one = { key = "${ARBISCAN_API_KEY}" }
world_chain = { key = "${WORLD_CHAIN_API_KEY}", chain = 480, url = "https://worldchain-mainnet-explorer.alchemy.com/api" }
unichain = { key = "${UNICHAIN_API_KEY}", chain = 130, url = "https://unichain.blockscout.com/api" }

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
